@model WebApplication2.Models.EmployeeViewModel
@{
    ViewData["Title"] = "TestDropDown";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <input type="text" id="txtLocation" name="txtLocation" onclick="getlocation()"><br>

    <form id="submitStudent">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Latitude">Latitude</label>
            <input type="text" asp-for="Latitude" class="form-control" id="Latitude" aria-describedby="emailHelp" placeholder="Enter Latitude">
            <small id="emailHelp" class="form-text text-muted">We'll never share your location with anyone else.</small>
        </div>
        <div class="form-group">
            <label asp-for="Longitude">Longitude</label>
            <input type="text" asp-for="Longitude" class="form-control" id="Longitude" placeholder="Enter Longitude">
        </div>

        <div class="form-group">
            <label asp-for="Postal">Postalcode</label>
            <input type="text" asp-for="Postal" class="form-control" id="idPostal" placeholder="Enter Postalcode">
        </div>

        <div class="form-group">
            <label asp-for="City">City</label>
            <input type="text" asp-for="City" class="form-control" id="idCity" placeholder="Enter City">
        </div>

        <div class="form-group">
            <label asp-for="District">District</label>
            <input type="text" asp-for="District" class="form-control" id="idDistrict" placeholder="Enter District">
        </div>

        <div class="form-group">
            <label asp-for="State">State</label>
            @*<input type="text" asp-for="State" class="form-control" id="idState" placeholder="Enter State">*@
            <select id="drpEmpList" class="form-control" asp-for="State" asp-items="@(new SelectList(Model.StateDropDownList, "Text", "Value"))">
                    <option value="">--Select--</option>
             </select>

            <input type="hidden" asp-for="Id" />
        </div>

        <div class="form-group">
            <label asp-for="country">country</label>
            <input type="text" asp-for="country" class="form-control" id="idcountry" placeholder="Enter country">
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary" onclick="submitStudent()">Submit</button>
        </div>
    </form>


    <h1>@ViewBag.msg </h1>

</div>





<div>
    @*<input type="text" ID="txtLocation" Width="200px" />*@

    <script type="text/javascript">
@*
        AddScript('AIzaSyAOaWuSw6Y1KUo6XXGKfwcLah5awnn4tNU');

        function AddScript(key) {
            var script = document.createElement('script');

            script.src = "https://maps.googleapis.com/maps/api/js?libraries=places&key=" + key;
            script.type = 'text/javascript';
            document.getElementsByTagName('head')[0].appendChild(script);
        }*@

        function submitStudent() {
            var data = $("#studenteForm").serialize();
            console.log(data);
            alert(data);
            $.ajax({
                type: 'POST',
                url: '/Home/BindData',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
                data: data,
                success: function (result) {
                    alert('Successfully received Data ');
                    console.log(result);
                },
                error: function () {
                    alert('Failed to receive the Data');
                    console.log('Failed ');
                }
            })

        }

        var a;
        function getlocation() {
            var places = new google.maps.places.Autocomplete(document.getElementById('txtLocation'));
            google.maps.event.addListener(places, 'place_changed', function () {
                var place = places.getPlace();
                var latitude = place.geometry.location.lat();
                var longitude = place.geometry.location.lng();

                var country;
                var city;
                var district;
                var Postal;
                var State;
                debugger;
                for (var i = 0; i < place.address_components.length; i++) {
                    var find = false;
                    for (var j = 0; j < place.address_components[i].types.length; j++) {
                        if (place.address_components[i].types[j] == "postal_code") {
                            Postal = place.address_components[i].long_name;
                        }
                        else if (place.address_components[i].types[j] == "locality") {
                            city = place.address_components[i].long_name;
                        }
                        else if (place.address_components[i].types[j] == "administrative_area_level_2") {
                            
                            district = place.address_components[i].long_name;
                        }
                        else if (place.address_components[i].types[j] == "administrative_area_level_1") {
                            debugger;
                            State = place.address_components[i].long_name;
                            //alert(State);
                            if (State !== null)
                            {
                                //$("#drpEmpList").val(State).attr("selected", "selected");
                                $("#drpEmpList option:selected").text(State);
                                //$('select[name^="salesrep"] option[value="Bruce Jones"]').attr("selected", "selected");
                            }
                        }
                        else if (place.address_components[i].types[j] == "country") {
                            country = place.address_components[i].long_name;
                        }
                    }
                }

                debugger;
                $("#idPostal").val(Postal);
                $("#idCity").val(city);
                $("#idDistrict").val(district);
                $("#idcountry").val(country);
                $("#Latitude").val(latitude);
                $("#Longitude").val(longitude);
            });
        }
    </script>
</div>





